<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Vehicles</h2>
    <div class="row">
        <% vehicles.forEach(vehicle => { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <% if(vehicle.image) { %>
                        <img src="<%= vehicle.image %>" class="card-img-top" alt="<%= vehicle.name %>">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= vehicle.name %></h5>
                        <p class="card-text">Brand: <%= vehicle.brand %></p>
                        <p class="card-text">Type: <%= vehicle.type %></p>
                        <p class="card-text">Price: $<%= vehicle.price %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>